<div class="container">
  <div class="row" *ngIf="!isLoading">
    <div class="col">
      <div class="w-75 mx-auto mt-5">
        <form [formGroup]="ingredientsForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="ingredients">
              <h4>
                Nutrition Analysis
              </h4>
              <p class="">
                Enter an ingredient list list for what you are cooking, like  <span class="text-success">"1 cup rice, 10 oz chickpeas"</span>, etc.
                Enter each ingredient on a new line. </p>
            </label>
            <textarea class="form-control" type="text" rows="4" cols="50" id="ingredients" formControlName="ingredients"
              required></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!ingredientsForm.valid">Analyse</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!showNutrition && isLoading">
    <div class="col mt-5" >
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>